<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-md-6">
      <%= f.label :project_id, "Usuário" %><br>
      <%= select("team", "user_id", User.all.collect {|u| [ u.email, u.id ] }, {include_blank: 'Selecione'}, class: "form-control") %>
    </div>
  </div>
  <div class="field">
    <div class="col-md-6">
      <%= f.label :project_id, "Projeto" %><br>
      <%= select("team", "project_id", Project.all.collect {|p| [ p.description, p.id ] }, {include_blank: 'Selecione'}, class: "form-control") %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
